﻿@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-6">Application 1</h1>
    <p>Ứng dụng sử dụng đăng nhập tập trung từ Auth Service.</p>
    <a asp-controller="Dashboard" asp-action="Index" class="btn btn-primary">Vào Dashboard</a>
</div>
